:root {
  --bg01: #212529;
  --bg02: #2B3035;
  --bg03: #343A40;
  --txt01: #f8f9fa;
  --txt02: #adb5bd;
  --border01: #495057;
  --accent: #20c997;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100vh;

  font-family: 'Fira Sans', sans-serif;

  background: var(--bg01);
  color: var(--txt01);
}

#chat {
  grid-area: 1 / 2 / 2 / 3;

  display: flex;
  flex-direction: column;
}

#chat>#currentRoom {
  padding-inline: 1rem;
}

#chat>#messages {
  flex-grow: 1;
  overflow-y: scroll;
}

#chat>#messages>.message {
  padding: 0.5rem 1rem;
}

#chat>#messages>.message>.author {
  font-weight: bold;
  color: var(--accent);
}

#chat>#messages>.message>.author::after {
  content: ':';
  color: var(--txt02);
  margin-right: 0.5ch;
}

#chat>#chatBox {
  width: 100%;
  overflow: hidden;
  background: var(--bg02);
  display: flex;
  padding: 0.5rem;
  flex-shrink: 0;
}

#chat>#chatBox>#textInput {
  flex-grow: 1;
  background: var(--bg01);
  border-radius: 0.365rem;
  border: 1px solid var(--border01);
  color: var(--txt01);
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  padding: 0.5rem;
}

#chat>#chatBox>button {
  cursor: pointer;
  color: var(--accent);
  background: transparent;
  border: none;
  width: 3rem;
  margin-left: 1rem;
  margin-right: 2rem;
  transition: background-color 150ms ease-in-out;
  border-radius: 0.365rem;
}

#chat>#chatBox>button:hover {
  background: var(--bg03);
}

#users {
  grid-area: 1 / 3 / 2 / 4;
  border-left: 1px solid var(--border01);
}

#rooms {
  grid-area: 1 / 1 / 2 / 2;
  border-right: 1px solid var(--border01);
}

#users,
#rooms {
  background: var(--bg02);
  padding: 1rem;
}

#users>h2,
#rooms>h2 {
  margin: 0;
  font-size: 20px;
}

#rooms>#toggleRooms,
#users>#toggleUsers {
  display: none;
}

#users>#usersList,
#rooms>#roomsList {
  margin: 0;
  padding: 1rem;
  margin-top: 1rem;
  list-style: none;
  background: var(--bg01);
  border-radius: 0.365rem;
  border: 1px solid var(--border01);
}

#users>#usersList>li,
#rooms>#roomsList>li {
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
}

#rooms>#roomsList>li>button {
  border: none;
  background: transparent;
  display: block;
  color: var(--txt01);
  font-size: 1rem;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  padding: 0.5rem;
  border-radius: 0.365rem;
}

#rooms>#roomsList>li.current>button,
#rooms>#roomsList>li>button:hover {
  background-color: var(--bg03)
}

#rooms>#roomsList>li>button>.name.unread::after {
  content: '';
  display: inline-block;
  width: 0.5rem;
  aspect-ratio: 1;
  background-color: #20c997;
  border-radius: 50%;
  position: relative;
  top: -2px;
  margin-left: 0.5ch;
}

#rooms>#roomsList>li.current>button>.name {
  font-weight: 900;
  letter-spacing: 0.05ch;
}

#rooms>#roomsList>li>button>.userCount {
  margin-left: auto;
  padding: 0.25rem 0.5rem;
  background: var(--bg03);
  border-radius: 0.365rem;
  border: 1px solid var(--border01);
}

#users>#usersList>li.me>.nick {
  color: var(--accent);
  font-weight: 500;
}

#users>#usersList>li>.note {
  font-size: 14px;
  color: var(--txt02);
  margin-left: 1ch;
}

#users>#usersList>li>.id {
  font-size: 14px;
  color: var(--txt02);
  margin-left: auto;
}

#users>#help {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

#users>#help>h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}

#users>#help>ul {
  padding-left: 2rem;
  margin: 0;
}

#users>#help>ul>li+li {
  margin-top: 0.75rem;
}

#users>#help>ul>li>.desc {
  font-style: italic;
  color: var(--txt02);
  line-height: 1.35;
}

.box {
  padding: 1rem;
  background-color: var(--bg01);
  border: 1px solid var(--border01);
  border-radius: 0.365rem;
}

code {
  font-family: 'Fira Code', monospace;
  font-size: 1rem;
  background-color: var(--bg03);
  border: 1px solid var(--border01);
  padding-inline: 0.25rem;
  border-radius: 0.25rem;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--border01) transparent;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border01);
  border-radius: 6px;
  border: 4px solid var(--bg01);
}

@media only screen and (max-width: 900px) {
  body {
    display: unset;
    overflow: hidden;
    max-height: 100vh;
    width: 100vw;
    max-width: 100%;
  }

  #chat {
    width: 100vw;
    max-width: 100%;
  }

  #chat,
  #rooms,
  #users {
    height: 100dvh;
    max-height: 100%;
  }

  #chat>#currentRoom {
    margin-left: 4rem;
  }

  #rooms,
  #users {
    width: calc(100% - 5rem);
    position: absolute;
    top: 0;
    box-shadow:
      0px 0px 0px 0px rgba(0, 0, 0, 0.16),
      0 0 0 5rem rgba(255, 255, 255, 0);
    transition:
      box-shadow 100ms 0ms linear,
      transform 300ms 100ms ease-in-out;
  }

  #rooms {
    transform: translateX(-100%);
  }

  #users {
    right: 0;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
  }

  #rooms.expanded,
  #users.expanded {
    transform: translateX(0);
    z-index: 1000;
    box-shadow:
      0px 0px 5px 5px rgba(0, 0, 0, 0.16),
      0 0 0 5rem rgba(255, 255, 255, 0.1);
    transition:
      transform 300ms ease-in-out,
      box-shadow 150ms 300ms linear;
  }

  #rooms>#toggleRooms,
  #users>#toggleUsers {
    border: none;
    background: var(--bg02);
    border: 1px solid var(--border01);
    border-radius: 0.365rem;
    position: absolute;
    color: var(--txt02);
    width: 3rem;
    aspect-ratio: 1;
    cursor: pointer;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    display: block;
  }

  #rooms>#toggleRooms:hover,
  #users>#toggleUsers:hover {
    background-color: var(--bg03);
    color: var(--txt01);
  }

  #rooms>#toggleRooms {
    top: 1rem;
    left: calc(100% + 1rem);
  }

  #users>#toggleUsers {
    top: 1rem;
    right: calc(100% + 1rem);
  }
}
