:root {
  --bg01: #212529;
  --bg02: #2B3035;
  --bg03: #343A40;
  --txt01: #f8f9fa;
  --txt02: #adb5bd;
  --border01: #495057;
  --accent: #20c997;
}

body {
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100vh;

  font-family: 'Fira Sans', sans-serif;

  background: var(--bg01);
  color: var(--txt01);
}

#chat {
  grid-area: 1 / 2 / 2 / 3;

  display: flex;
  flex-direction: column;
}

#chat>#currentRoom {
  padding-inline: 1rem;
}

#chat>#messages {
  flex-grow: 1;
  overflow-y: scroll;
}

#chat>#messages>.message {
  padding: 0.5rem 1rem;
}

#chat>#messages>.message>.author {
  font-weight: bold;
  color: var(--accent);
}

#chat>#messages>.message>.author::after {
  content: ':';
  color: var(--txt02);
  margin-right: 0.5ch;
}

#chat>#chatBox {
  width: 100%;
  background: var(--bg02);
  display: flex;
  padding: 0.5rem;
}

#chat>#chatBox>#textInput {
  flex-grow: 1;
  background: var(--bg01);
  border-radius: 0.365rem;
  border: 1px solid var(--border01);
  color: var(--txt01);
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  padding: 0.5rem;
}

#chat>#chatBox>button {
  cursor: pointer;
  color: var(--accent);
  background: transparent;
  border: none;
  width: 3rem;
  margin-left: 1rem;
  margin-right: 2rem;
  transition: background-color 150ms ease-in-out;
  border-radius: 0.365rem;
}

#chat>#chatBox>button:hover {
  background: var(--bg03);
}

#users {
  grid-area: 1 / 3 / 2 / 4;
  border-left: 1px solid var(--border01);
}

#rooms {
  grid-area: 1 / 1 / 2 / 2;
  border-right: 1px solid var(--border01);
}

#users,
#rooms {
  background: var(--bg02);
  padding: 1rem;
}

#users>h2,
#rooms>h2 {
  margin: 0;
  font-size: 20px;
}

#users>#usersList,
#rooms>#roomsList {
  margin: 0;
  padding: 1rem;
  margin-top: 1rem;
  list-style: none;
  background: var(--bg01);
  border-radius: 0.365rem;
  border: 1px solid var(--border01);
}

#users>#usersList>li,
#rooms>#roomsList>li {
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
}

#rooms>#roomsList>li>button {
  border: none;
  background: transparent;
  display: block;
  color: var(--txt01);
  font-size: 1rem;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  padding: 0.5rem;
  border-radius: 0.365rem;
}

#rooms>#roomsList>li.current>button,
#rooms>#roomsList>li>button:hover {
  background-color: var(--bg03)
}

#rooms>#roomsList>li>button>.name.unread::after {
  content: '';
  display: inline-block;
  width: 0.5rem;
  aspect-ratio: 1;
  background-color: #20c997;
  border-radius: 50%;
  position: relative;
  top: -2px;
  margin-left: 0.5ch;
}

#rooms>#roomsList>li.current>button>.name {
  font-weight: 900;
  letter-spacing: 0.05ch;
}

#rooms>#roomsList>li>button>.userCount {
  margin-left: auto;
  padding: 0.25rem 0.5rem;
  background: var(--bg03);
  border-radius: 0.365rem;
  border: 1px solid var(--border01);
}

#users>#usersList>li.me>.nick {
  color: var(--accent);
  font-weight: 500;
}

#users>#usersList>li>.note {
  font-size: 14px;
  color: var(--txt02);
  margin-left: 1ch;
}

#users>#usersList>li>.id {
  font-size: 14px;
  color: var(--txt02);
  margin-left: auto;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--border01) transparent;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border01);
  border-radius: 6px;
  border: 4px solid var(--bg01);
}
